ProducerContainer {
    layout: vertical;
    min-width:50;
    margin:1;
    padding:1;
    height:5;
    content-align:center middle;
    background: $boost;
}

#send {
    width:1fr;
    content-align:center middle;
}